
#color-output { float:left; width: 40px; height: 40px; border: solid 2px #333; margin: 15px; margin-left:0; }
#code-output { float: left; width: 500px; border: solid 2px #333; margin:15px;  } 
#color { width: 200px; height: 2em;}